<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>My Shop</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bmin.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/myapp.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  {% include 'navbar.html' %}
  <!-- page content -->
  <div class="container">

    <div class="row">
      <!-- sidebar -->
      {% include 'sideBar.html' %}
      
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        {% include 'slider.html' %}

        <div class="row">
          {% block MyPage %}

          
          {% endblock %}

          
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  {% include 'footer.html' %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/bmin.js' %}"></script>
  <script src="{% static 'js/jq.js' %}"></script>

</body>

</html>
