{% extends 'base.html' %} 
{% block MyPage %}
<form method="POST">
    {% csrf_token %}
    <table cellpading="10" cellspacing="10" border="1">
        <tr>
            <th>Id</th>
            <th>Product Name</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Description</th>
            <th>Subtotal</th>
        </tr>
        {% for i in crlist%}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.Product.Pname}}</td>
            <td><input type="number" value="1" name="qty"></td>
            <td>{{i.Product.Price}}</td>
            <td>{{i.Product.Description}}</td>
            <td>{{i.Product.Price}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3"><input type="submit" value="place order"></td>
            <td colspan="3"><input type="text" name="totalBill" value="{{totalBill}}"></td>
        </tr>
    </table>
    <br><br>
</form>
{% endblock %}